@model project.Lib_Primavera.Model.Artigo
<table style="width:100%">
    <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Type</th>
        <th>Price</th>
        <th>Cost</th>
        <th>Stock</th>
    </tr>
    <tr>
        <td>@Model.CodArtigo</td>
        <td>@Model.DescArtigo</td>
        <td>@Model.Tipo</td>
        <td>@Model.Preco</td>
        <td>@Model.Custo</td>
        <td>@Model.Stock</td>
    </tr>
</table>