@section ExtraStyles {
    <!-- Morris Charts CSS -->
    @Styles.Render("~/Content/sb-admin-2/bower_components/morrisjs/morris.css")

    <!-- DataTables CSS -->
    @Styles.Render("~/Content/sb-admin-2/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")

    <!-- DataTables Responsive CSS -->
    @Styles.Render("~/Content/sb-admin-2/bower_components/datatables-responsive/css/dataTables.responsive.css")

    <!-- Our Styles -->
    @Styles.Render("~/Content/css/main-dash.css")
    @Styles.Render("~/Content/css/products-dash.css")
}

@section ExtraScripts {
    <!-- DataTables JavaScript -->
    @Scripts.Render("~/Content/sb-admin-2/bower_components/datatables/media/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")

    <!-- Our Scripts -->
    @Scripts.Render("~/Scripts/products/products-list.js")
}

<div class="col-xs-12">
    <h1><i class="fa fa-shopping-cart"></i> Products</h1>
    <hr>

    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="panel panel-default">

            <div class="panel-body">
                <div id="productsListLoadingAnimation" class="text-center">
                    <i class="fa fa-cog fa-spin fa-3x"></i>
                </div>

                <div class="dataTable_wrapper">
                    <table id="products" class="table table-bordered table-hover table-striped" width="auto"></table>
                </div>
            </div>
        </div>
    </div>



</div>

