<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <title>Dashboard</title>

    <!--Styles-->
    @Styles.Render("~/Content/css/Site")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css/Home")
    @Styles.Render("~/Content/css/jquery-datatables")

    

    <!--Scripts-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/jquery-flot")
    @Scripts.Render("~/Content/jquery-flot-pie")
    @Scripts.Render("~/Content/jquery-datatables")


    @Scripts.Render("~/Scripts/clients-flot-pie")
    @Scripts.Render("~/Scripts/products-flot-pie")
    @Scripts.Render("~/Scripts/top-sales-datatable")
    

</head>

<body>
    @{
        Html.RenderPartial("_Navbar");
    }

    @RenderBody()
</body>
</html>
