<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SINF Dashboard 360</title>

    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/Content/sb-admin-2/bower_components/bootstrap/dist/css/bootstrap.min.css")

    <!-- MetisMenu CSS -->
    @Styles.Render("~/Content/sb-admin-2/bower_components/metisMenu/dist/metisMenu.min.css")

    <!-- Extra Styles -->
    @RenderSection("ExtraStyles", false)

    <!-- Custom CSS -->
    @Styles.Render("~/Content/sb-admin-2/dist/css/sb-admin-2.css")

    <!-- Custom Fonts -->
    @Styles.Render("~/Content/sb-admin-2/bower_components/font-awesome/css/font-awesome.min.css")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @{ Html.RenderPartial("_navbar"); }

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-offset-1 col-lg-10">@RenderBody()</div>
        </div>
    </div>

    <!-- jQuery -->
    @Scripts.Render("~/Content/sb-admin-2/bower_components/jquery/dist/jquery.min.js")

    <!-- Bootstrap Core JavaScript -->
    @Scripts.Render("~/Content/sb-admin-2/bower_components/bootstrap/dist/js/bootstrap.min.js")

    <!-- Metis Menu Plugin JavaScript -->
    @Scripts.Render("~/Content/sb-admin-2/bower_components/metisMenu/dist/metisMenu.min.js")

    <!-- Extra Scripts -->
    @RenderSection("ExtraScripts", false)

    <!-- Custom Theme JavaScript -->
    @Scripts.Render("~/Content/sb-admin-2/dist/js/sb-admin-2.js")
</body>
</html>
