@section ExtraStyles {
    <!-- Morris Charts CSS -->
    @Styles.Render("~/Content/sb-admin-2/bower_components/morrisjs/morris.css")

    <!-- DataTables CSS -->
    @Styles.Render("~/Content/sb-admin-2/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")

    <!-- DataTables Responsive CSS -->
    @Styles.Render("~/Content/sb-admin-2/bower_components/datatables-responsive/css/dataTables.responsive.css")

    <!-- Morris Charts CSS -->
    @Styles.Render("~/Content/sb-admin-2/bower_components/morrisjs/morris.css")

    <!-- Our Styles -->
    @Styles.Render("~/Content/css/main-dash.css")
}

@section ExtraScripts {
    <!-- Flot Charts JavaScript -->
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/excanvas.min.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/jquery.flot.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/jquery.flot.pie.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/jquery.flot.resize.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/jquery.flot.time.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js")

    <!-- DataTables JavaScript -->
    @Scripts.Render("~/Content/sb-admin-2/bower_components/datatables/media/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")

    <!-- Morris Charts JavaScript -->
    @Scripts.Render("~/Content/sb-admin-2/bower_components/raphael/raphael-min.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/morrisjs/morris.min.js")

    <!-- Our Scripts -->
    @Scripts.Render("~/Scripts/sales/RSS-table.js")
    @Scripts.Render("~/Scripts/sales/sales-booking-morris.js") 
    @Scripts.Render("~/Scripts/sales/top-purchases-table.js")
    @Scripts.Render("~/Scripts/sales/sales-growth.js")
    @Scripts.Render("~/Scripts/sales/start-pivot.js")
}


    <div class="col-xs-12">
        <div id="pivotSpinnerPlaceholder" class="col-lg-3 pull-right" style="margin-top: 20px"></div>
        <h1>Sales Dash</h1>
        <hr>

        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <strong>Sales Booking</strong>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div id="salesYBookingSpinnerPlaceholder" class="col-lg-offset-4 col-lg-4"></div>

                        <div class="col-xs-12">
                            <div id="salesYBookingPlaceholder"></div>
                        </div>

                        <div id="salesYBookingLoadingAnimation" class="text-center"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-green">

                <div class="panel-heading">
                    <strong>Sales Growth year-on-year</strong>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div id="salesGrowthSpinnerPlaceholder1" class="col-lg-offset-2 col-lg-4"></div>

                        <div id="salesGrowthSpinnerPlaceholder2" class="col-lg-4"></div>

                        <div class="col-xs-12">
                            <div id="salesGrowthPlaceholder"></div>
                        </div>

                        <div id="salesGrowthLoadingAnimation" class="text-center"></div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-7">
            <div class="panel panel-yellow">
                <div class="panel-heading"><strong>Top 10 Sales</strong></div>
                <div class="panel-body">

                    <div id="TPSpinnerPlaceholder" class="col-lg-offset-3 col-lg-5"></div>
                    
                    <div class="dataTable_wrapper">
                        <table id="top-purchases" class="table table-bordered table-hover table-striped" width="auto"></table>
                    </div>
                    <div id="TPLoadingAnimation" class="text-center"></div>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-5">
            <div class="panel panel-primary">
                <div class="panel-heading"><strong>Regional Sales Status</strong></div>
                <div class="panel-body">

                    <div id="salesRSSSpinnerPlaceholder" class="col-lg-offset-2 col-lg-6"></div>

                    <div class="dataTable_wrapper">
                        <table id="salesRSSPlaceholder" class="table table-bordered table-hover table-striped" width="auto"></table>
                    </div>
                    <div id="salesRSSLoadingAnimation" class="text-center"></div>

                </div>
            </div>
        </div>
        
        
    </div>
