@section ExtraStyles {
    <!-- Morris Charts CSS -->
    @Styles.Render("~/Content/sb-admin-2/bower_components/morrisjs/morris.css")

    <!-- DataTables CSS -->
    @Styles.Render("~/Content/sb-admin-2/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")

    <!-- DataTables Responsive CSS -->
    @Styles.Render("~/Content/sb-admin-2/bower_components/datatables-responsive/css/dataTables.responsive.css")

    <!-- Morris Charts CSS -->
    @Styles.Render("~/Content/sb-admin-2/bower_components/morrisjs/morris.css")

    <!-- Our Styles -->
    @Styles.Render("~/Content/css/main-dash.css")
}

@section ExtraScripts {
    <!-- Flot Charts JavaScript -->
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/excanvas.min.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/jquery.flot.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/jquery.flot.pie.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/jquery.flot.resize.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/jquery.flot.time.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js")

    <!-- DataTables JavaScript -->
    @Scripts.Render("~/Content/sb-admin-2/bower_components/datatables/media/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")

    <!-- Morris Charts JavaScript -->
    @Scripts.Render("~/Content/sb-admin-2/bower_components/raphael/raphael-min.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/morrisjs/morris.min.js")

    <!-- Our Scripts -->
    @Scripts.Render("~/Scripts/sales/RSS-table.js")
    @Scripts.Render("~/Scripts/sales/sales-booking-morris.js") 
    @Scripts.Render("~/Scripts/sales/top-purchases-table.js")
    @Scripts.Render("~/Scripts/sales/sales-growth-percentage.js")
    @Scripts.Render("~/Scripts/sales/sales-growth-value.js")
}


    <div class="col-xs-12">
        <h1>Sales Dash</h1>
        <hr>

        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-default">

                <div class="panel-heading"><strong>Sales Booking</strong></div>

                <div class="panel-body">
                    <div id="sales-booking-form" class="form-inline" role="form">
                        <div class="form-group years">
                            <label for="sb-year">Year</label>
                            <select id="sb-year" class="form-control" name="year">
                                <option value="2014">2014</option>
                                <option value="2015" selected>2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                            </select>
                        </div>
                        <div class="form-group months">
                            <label for="sb-month">Month</label>
                            <select id="sb-month" class="form-control" name="month">
                                <option value="None" selected></option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <input onclick="updateSalesBooking()" type="button" id="sales-booking-button" class="btn btn-default" value="Update" />
                    </div>
                    <hr>
                    <div id="salesbooking"></div>
                </div>

            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-euro fa-5x"></i>
                        </div>

                        <div class="col-xs-9 text-right">
                            <div id="sales-growth-value" class="huge"></div>
                            <div>Sales Growth Value</div>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div id="sales-growth-form" class="form-inline" role="form">
                        <div class="form-group years">
                            <label for="sg-year1">Growth from</label>
                            <select id="sg-year1" class="form-control" name="year">
                                <option value="2014" selected>2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                            </select>
                        </div>
                        <div class="form-group months">
                            <select id="sg-month1" class="form-control" name="month">
                                <option value="None" selected></option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="form-group years">
                            <label for="sg-year2">to</label>
                            <select id="sg-year2" class="form-control" name="year">
                                <option value="2014">2014</option>
                                <option value="2015" selected>2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                            </select>
                        </div>
                        <div class="form-group months">
                            <select id="sg-month2" class="form-control" name="month">
                                <option value="None" selected></option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <input onclick="updateSalesGrowth()" type="button" id="sales-growth-button" class="btn btn-default" value="Update" />
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-line-chart fa-5x"></i>
                        </div>

                        <div class="col-xs-9 text-right">
                            <div id="sales-growth-per" class="huge"></div>
                            <div>Sales Growth Percentage</div>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div id="sales-growth-per-form" class="form-inline" role="form">
                        <div class="form-group years">
                            <label for="sgp-year1">Growth from</label>
                            <select id="sgp-year1" class="form-control" name="year">
                                <option value="2014" selected>2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                            </select>
                        </div>
                        <div class="form-group months">
                            <select id="sgp-month1" class="form-control" name="month">
                                <option value="None" selected></option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="form-group years">
                            <label for="sgp-year2">to</label>
                            <select id="sgp-year2" class="form-control" name="year">
                                <option value="2014">2014</option>
                                <option value="2015" selected>2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                            </select>
                        </div>
                        <div class="form-group months">
                            <select id="sgp-month2" class="form-control" name="month">
                                <option value="None" selected></option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <input onclick="updateSalesGrowthPer()" type="button" id="sales-growth-per-button" class="btn btn-default" value="Update" />
                    </div>

                </div>

            </div>
        </div>
        
        <div class="col-xs-12 col-md-12 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Regional Sales Status</strong></div>
                <div class="panel-body">
                    <div id="salesrss-form" class="form-inline" role="form">
                        <div class="form-group years">
                            <label for="rss-year">Year</label>
                            <select id="rss-year" class="form-control" name="year">
                                <option value="2014">2014</option>
                                <option value="2015" selected>2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                            </select>
                        </div>
                        <div class="form-group months">
                            <label for="rss-month">Month</label>
                            <select id="rss-month" class="form-control" name="month">
                                <option value="None" selected></option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>

                        <input onclick="updateRSS()" type="button" id="rss-button" class="btn btn-default" value="Update" />
                    </div>

                    <hr>
                    <div class="dataTable_wrapper">
                        <table id="salesrss" class="table table-bordered table-hover table-striped" width="auto"></table>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Top Purchases</strong></div>
                <div class="panel-body">
                    <div id="top-purchases-form" class="form-inline" role="form">
                            <div class="form-group years">
                                <label for="tp-year">Year</label>
                                <select id="tp-year" class="form-control" name="year">
                                    <option value="2014">2014</option>
                                    <option value="2015" selected>2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                            </div>
                            <div class="form-group months">
                                <label for="tp-month">Month</label>
                                <select id="tp-month" class="form-control" name="month">
                                    <option value="None" selected></option>
                                    <option value="01">January</option>
                                    <option value="02">February</option>
                                    <option value="03">March</option>
                                    <option value="04">April</option>
                                    <option value="05">May</option>
                                    <option value="06">June</option>
                                    <option value="07">July</option>
                                    <option value="08">August</option>
                                    <option value="09">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>

                            <input onclick="updateTopPurchases()" type="button" id="top-purchases-button" class="btn btn-default" value="Update" />
                        </div>
                        <hr>
                        <div class="dataTable_wrapper">
                            <table id="top-purchases" class="table table-bordered table-hover table-striped" width="auto"></table>
                        </div>
                </div>
            </div>
        </div>
    </div>
