@model project.Lib_Primavera.Model.Cliente

@section ExtraStyles {
    <!-- Our Styles -->
    @Styles.Render("~/Content/css/clients-dash.css")
}

@section ExtraScripts {
    <!-- Flot Charts JavaScript -->
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/excanvas.min.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/jquery.flot.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/jquery.flot.pie.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/jquery.flot.resize.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot/jquery.flot.time.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js")

    <!-- DataTables JavaScript -->
    @Scripts.Render("~/Content/sb-admin-2/bower_components/datatables/media/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")

    <!-- Morris Charts JavaScript -->
    @Scripts.Render("~/Content/sb-admin-2/bower_components/raphael/raphael-min.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/morrisjs/morris.min.js")
    @Scripts.Render("~/Content/sb-admin-2/bower_components/morrisjs/morris.js")

    <!-- Our Scripts -->
    @Scripts.Render("~/Scripts/clients/client-products-flot-pie.js")
    @Scripts.Render("~/Scripts/clients/costs-earnings.js")
    @Scripts.Render("~/Scripts/clients/daily-purchases.js")
}

<div class="col-xs-12">
    <input id="client-id" type="hidden" name="client-id" value=@Html.ViewData["entity"]>

    <h2>@Model.NomeCliente</h2>
    <hr>

    <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Top 10 Products</div>

            <div class="panel-body">
                <div class="flot-chart">
                    <div id="clientTopProductsPlaceholder" class="flot-chart-content"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Client Details</div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <p class="col-md-3 text-right"><strong>Code:</strong></p>

                            <p class="col-md-9">@Model.CodCliente</p>
                        </div>

                        <div class="row">
                            <p class="col-md-3 text-right"><strong>Name:</strong></p>

                            <p class="col-md-9">@Model.NomeCliente</p>
                        </div>

                        <div class="row">
                            <p class="col-md-3 text-right"><strong>Address:</strong></p>

                            <p class="col-md-9">@Model.Morada</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Top 10 Clients</div>

            <div class="panel-body">
                <div id="ce">
                    <div id="ce-graph"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Daily Purchases</div>

            <div class="panel-body">
                <div id="daily-purchases" class="form-inline" role="form">
                    <div class="form-group years">
                        <label for="dp-year">Year</label>
                        <select id="dp-year" class="form-control" name="month">
                            <option value="2014">2014</option>
                            <option value="2015" selected>2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                        </select>
                    </div>

                    <div class="form-group months">
                        <label for="dp-month">Month</label>
                        <select id="dp-month" class="form-control" name="year">
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10" selected>October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>

                    <input onclick="updateDailyPurchases()" type="button" id="daily-purchases-button" class="btn btn-default" value="Update" />
                </div>

                <div class="flot-chart">
                    <div id="clientDailyPurchasesPlaceholder" class="flot-chart-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>
